.detail-title-img {
	display: flex;
}

.detail-div-img {
	width: 667px;
	height: 314px;
	left: 96px;
	top: 156px;
}

.detail-title-text {
	justify-content: start;
}

.detail-title-text h3 {
	display: flex;
	justify-content: start;
	margin-left: 8px;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
}
.detail-title-text h1 {
	display: flex;
	width: 350px;
	justify-content: start;
	font-weight: 600;
	font-size: 50px;
	line-height: 57px;
}

.detail-title-text p {
	display: flex;
	justify-content: start;
	margin-left: 8px;
	margin-top: 40px;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
}

.slide img {
	width: 15rem;
	margin: 0 auto;
}

.slide {
	transform: scale(0.2);
	transition: transform 300ms;
	opacity: 0.5;
}

.activeSlide {
	transform: scale(1.1);
	opacity: 1;
}

.arrow {
	background-color: white;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

.arrow svg {
	transition: color 300ms;
}

.arrow svg:hover {
	color: #60edff;
}

.next {
	right: 0%;
	top: 50%;
}

.prev {
	left: 0%;
	top: 50%;
}

.slider h5 {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
}

.slider p {
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
}

.slider__container {
	margin-top: 90px;
}

.div__highlights {
	margin-top: 160px;
}

/* ----ID 2---- */

div[id='2'] {
	display: flex;
	justify-content: start;
	margin-top: 100px;
}

h5[id='2'] {
	color: #373737;
	/* background-color: green; */
	font-size: 20px;
	margin-left: 20px;
	font-weight: 600;
	line-height: 27px;
}

img[id='2'] {
	width: 659px;
	height: 302px;
	margin-left: 70px;
}
p[id='2'] {
	margin-top: 50px;
	margin-right: 100px;
	/* background-color: #60edff; */
	width: 400px;
	margin-left: -140px;
	margin-top: 60px;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
}

/* ----ID 1---- */

h5[id='1'] {
	color: #373737;
	display: flex;
	justify-content: end;
	line-height: 100px;
	margin-right: -20px;
	font-weight: 600;
	font-size: 20px;
}

p[id='1'] {
	display: flex;
	justify-content: end;
	width: 500px;
	margin-right: -200px;
	margin-left: 640px;
	font-weight: 500;
	font-size: 16px;
}

div[id='1'] {
	margin-top: 50px;
}

img[id='1'] {
	display: block;
	margin-left: -20px;
	margin-top: -140px;
}

/* ----ID 0----- */
h5[id='0'] {
	color: #373737;
	/* background-color: green; */
	font-size: 20px;
	margin-left: 20px;
	font-weight: 600;
	line-height: 27px;
}

img[id='0'] {
	width: 659px;
	height: 302px;
	margin-left: 70px;
}

div[id='0'] {
	/* background-color: violet; */
	display: flex;
	justify-content: start;
	margin-top: 50px;
}

p[id='0'] {
	margin-top: 50px;
	margin-right: 100px;
	/* background-color: #60edff; */
	width: 400px;
	margin-left: -140px;
	margin-top: 60px;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
}

.footerDetail {
	position: absolute;
	margin-top: 50px;
	background-color: black;
	width: 1600px;
	margin-left: -130px;
}

@media screen and (max-width: 990px) {
	.detail-div-img {
		margin-top: -70px;
		margin-right: 150px;
		margin-left: -10px;
	}
	.detail-div-img img {
		/* background-color: red; */
		width: 350px;
		height: 350px;
	}

	.detail-title-text {
		/* background-color: pink; */
		margin-left: -500px;
		margin-top: 300px;
	}

	div[id='10'] {
		/* background-color: red; */
		width: 100%;
		height: 100%;
		margin-left: -420px;
		margin-right: 100px;
		margin-top: -65px;
	}
	div[id='10'] img {
		width: 350px;
		height: 300px;
	}

	h5[id='0'] {
		margin-top: 280px;
		height: 100%;
		min-width: 300px;
		font-weight: 700;
		font-size: 20px;
	}

	p[id='0'] {
		margin-top: 350px;
		margin-right: 20px;
		margin-left: -300px;
		min-width: 300px;
		font-weight: 550;
		font-size: 17px;
	}

	/* ----ID 1---- */

	h5[id='1'] {
		margin-top: 400px;
		margin-bottom: -700px;
		text-align: center;
		justify-content: center;
		/* background-color: red; */
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
	}

	div[id='11'] {
		margin-top: -520px;
		/* background-color: pink; */
		margin-left: 13px;
	}

	div[id='11'] img {
		width: 350px;
		height: 300px;
	}

	div[id='1'] p {
		margin-left: -10px;
		margin-top: 700px;
		margin-bottom: -400px;
		min-width: 350px;
		max-width: 350px;
		height: 125px;
		font-weight: 500;
		font-size: 16px;
		line-height: 27px;
	}

	.footerDetail {
		display: none;
	}

	/* ----ID 2---- */

	div[id='2'] {
		margin-top: 140px;
	}

	div[id='2'] h5 {
		margin-top: 330px;
		margin-left: 90px;
		width: 600px;
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
	}

	div[id='2'] p {
		margin-top: 450px;
		width: 800px;
		font-weight: 500;
		font-size: 16px;
		line-height: 27px;
	}

	div[id='12'] img {
		width: 350px;
		height: 300px;
		margin-left: -350px;
		margin-right: -5px;
	}
}
